<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h3>简单的数据绑定</h3>
	<div id="app">
		{{message}}
	</div>

	<h3>v-bind</h3>
	<div id="app-2">
	  <span v-bind:title="message">
	    Hover your mouse over me for a few seconds to see my dynamically bound title!
	  </span>
	</div>

	<h3>条件v-if</h3>
	<div id="app-3">
		<span v-if="message=='abcd'">1234555</span>
	</div>

	<h3>循环</h3>
	<div id="app-4">
		<ul>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ul>
	</div>

	<h3>v-on 事件监听</h3>
	<div id="app-5">
		<div v-on:click="clickme">{{message}}</div>
	</div>

	<h3>双向绑定</h3>
	<div id="app-6">
		<div>{{message}}</div>
		<input type="text" v-model="message">
		<todo-item></todo-item>
	</div>

	<h3>组件</h3>
	<div id="app-7">
	  <ol>
	    <!-- Now we provide each todo-item with the todo object    -->
	    <!-- it's representing, so that its content can be dynamic -->
	    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
	  </ol>
	</div>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
		var app=new Vue({
			el:"#app",
			data:{
				message:"hello world!"
			}
		})
		var app2=new Vue({
			el:"#app-2",
			data:{
				message:'You loaded this page on ' + new Date()
			}
		})
		var app3=new Vue({
			el:"#app-3",
			data:{
				message:"abc"
			}
		})
		var app4=new Vue({
			el:"#app-4",
			data:{
				todos: [
			      { text: 'Learn JavaScript' },
			      { text: 'Learn Vue' },
			      { text: 'Build something awesome' }
			    ]
			}
		})
		var app5=new Vue({
			el:"#app-5",
			data:{
				message:"click me"
			},
			methods:{
				clickme:function(){
					this.message="123"
				},

			},
			created:function(){
				console.log(1);
			}
		})
		var app6=new Vue({
			el:"#app-6",
			data:{
				message:"双向绑定"
			}

		})
		// // Vue.component("todo-item",{
		// // 	template:"<span>123</span>"
		// // })
		// Vue.component('todo-item', {
		//   template: '<li>This is a todo</li>'
		// })
Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})
var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { text: 'Vegetables' },
      { text: 'Cheese' },
      { text: 'Whatever else humans are supposed to eat' }
    ]
  }
})
	</script>
</body>
</html>